<div class="row">
    <div class="col-lg-6 col-12 d-flex ms-auto">
        <span class="ms-auto mb-2" style="display: none">
            <div class="d-flex align-items-center">
                <span class="h6">From</span>
                <input class="form-control ms-2" type="date" value="2023-12-23" id="startDate">
            </div>
            <div class="d-flex align-items-center">
                <span class="h6">To</span>&nbsp;&emsp;
                <input class="form-control ms-2" type="date" value="2023-12-23" id="endDate">
            </div>
        </span>
        <div class="dropleft ms-3 ms-auto">
            <button class="btn bg-gradient-dark dropdown-toggle" type="button" id="dropdownImport"
                data-bs-toggle="dropdown" aria-expanded="false">
                Today
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownImport" style="">
                <li><a class="dropdown-item">Yesterday</a></li>
                <li><a class="dropdown-item">Last 7 days</a></li>
                <li><a class="dropdown-item">This week</a></li>
                <li><a class="dropdown-item">This month</a></li>
                <li><a class="dropdown-item">Select date</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-4 pe-sm-0">
        <div class="card">
            <div class="card-body p-3 position-relative">
                <div class="row">
                    <div class="col-8 text-start">
                        <p class="text-sm mb-1 text-capitalize font-weight-bold">Sales</p>
                        <h5 class="font-weight-bolder mb-0">
                            45,450,000đ
                        </h5>
                    </div>
                    <div class="col-4">
                        <div class="dropdown text-end">
                            <a class="cursor-pointer text-secondary" id="dropdownUsers1" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                <span class="text-xs text-secondary">6 May - 7 May</span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end px-2 py-3" aria-labelledby="dropdownUsers1">
                                <li><a class="dropdown-item border-radius-md">Last 7 days</a></li>
                                <li><a class="dropdown-item border-radius-md">Last week</a></li>
                                <li><a class="dropdown-item border-radius-md">Last 30 days</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <span class="text-sm text-success font-weight-bolder mt-auto mb-0">+55% <span
                        class="font-weight-normal text-secondary">since last month</span></span>
            </div>
        </div>
    </div>
    <div class="col-sm-4 mt-sm-0 mt-4">
        <div class="card">
            <div class="card-body p-3 position-relative">
                <div class="row">
                    <div class="col-6 text-start">
                        <p class="text-sm mb-1 text-capitalize font-weight-bold">Orders</p>
                        <h5 class="font-weight-bolder mb-0">
                            15
                        </h5>
                    </div>
                    <div class="col-6">
                        <div class="dropdown text-end">
                            <a class="cursor-pointer text-secondary" id="dropdownUsers2" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                <span class="text-xs text-secondary">6 May - 7 May</span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end px-2 py-3" aria-labelledby="dropdownUsers2">
                                <li><a class="dropdown-item border-radius-md">Last 7 days</a></li>
                                <li><a class="dropdown-item border-radius-md">Last week</a></li>
                                <li><a class="dropdown-item border-radius-md">Last 30 days</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <span class="text-sm text-success font-weight-bolder mt-auto mb-0">+12%
                    <span class="font-weight-normal text-secondary">since last month</span></span>
            </div>
        </div>
    </div>
    <div class="col-sm-4 mt-sm-0 mt-4 ps-sm-0">
        <div class="card">
            <div class="card-body p-3 position-relative">
                <div class="row">
                    <div class="col-8 text-start">
                        <p class="text-sm mb-1 text-capitalize font-weight-bold">Revenue</p>
                        <h5 class="font-weight-bolder mb-0">
                            45,450,000đ
                        </h5>

                    </div>
                    <div class="col-4">
                        <div class="dropdown text-end">
                            <a class="cursor-pointer text-secondary" id="dropdownUsers3" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                <span class="text-xs text-secondary">6 May - 7 May</span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end px-2 py-3" aria-labelledby="dropdownUsers3">
                                <li><a class="dropdown-item border-radius-md">Last 7 days</a></li>
                                <li><a class="dropdown-item border-radius-md">Last week</a></li>
                                <li><a class="dropdown-item border-radius-md">Last 30 days</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <span class="font-weight-normal text-secondary text-sm"><span
                        class="font-weight-bolder">+5,450,000đ</span> since last month</span>
            </div>
        </div>
    </div>
</div>
<div class="row mt-4">
    <div class="col-sm-6">
        <div class="card h-100">
            <div class="card-header pb-0 p-3">
                <div class="d-flex align-items-center">
                    <h6 class="mb-0">Products</h6>
                    <button type="button"
                        class="btn btn-icon-only btn-rounded btn-outline-secondary mb-0 ms-2 btn-sm d-flex align-items-center justify-content-center ms-auto"
                        data-bs-toggle="tooltip" data-bs-placement="bottom"
                        aria-label="See how much traffic do you get from social media"
                        data-bs-original-title="See how much traffic do you get from social media">
                        <i class="fas fa-info" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
            <div class="card-body p-3">
                <ul class="list-group">
                    <li class="list-group-item border-0 d-flex align-items-center px-0 mb-2">
                        <div class="w-100">
                            <div class="d-flex align-items-center mb-2">
                                <a class="btn btn-facebook btn-simple mb-0 p-0">
                                    <i class="fab fa-facebook fa-lg" aria-hidden="true"></i>
                                </a>
                                <span class="me-2 text-sm font-weight-bold text-capitalize ms-2">Facebook</span>
                                <span class="ms-auto text-sm font-weight-bold">80%</span>
                            </div>
                            <div>
                                <div class="progress progress-md">
                                    <div class="progress-bar bg-gradient-dark w-80" role="progressbar"
                                        aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item border-0 d-flex align-items-center px-0 mb-2">
                        <div class="w-100">
                            <div class="d-flex align-items-center mb-2">
                                <a class="btn btn-twitter btn-simple mb-0 p-0">
                                    <i class="fab fa-twitter fa-lg" aria-hidden="true"></i>
                                </a>
                                <span class="me-2 text-sm font-weight-bold text-capitalize ms-2">Twitter</span>
                                <span class="ms-auto text-sm font-weight-bold">40%</span>
                            </div>
                            <div>
                                <div class="progress progress-md">
                                    <div class="progress-bar bg-gradient-dark w-40" role="progressbar"
                                        aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item border-0 d-flex align-items-center px-0 mb-2">
                        <div class="w-100">
                            <div class="d-flex align-items-center mb-2">
                                <a class="btn btn-reddit btn-simple mb-0 p-0">
                                    <i class="fab fa-reddit fa-lg" aria-hidden="true"></i>
                                </a>
                                <span class="me-2 text-sm font-weight-bold text-capitalize ms-2">Reddit</span>
                                <span class="ms-auto text-sm font-weight-bold">30%</span>
                            </div>
                            <div>
                                <div class="progress progress-md">
                                    <div class="progress-bar bg-gradient-dark w-30" role="progressbar"
                                        aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item border-0 d-flex align-items-center px-0 mb-2">
                        <div class="w-100">
                            <div class="d-flex align-items-center mb-2">
                                <a class="btn btn-youtube btn-simple mb-0 p-0">
                                    <i class="fab fa-youtube fa-lg" aria-hidden="true"></i>
                                </a>
                                <span class="me-2 text-sm font-weight-bold text-capitalize ms-2">Youtube</span>
                                <span class="ms-auto text-sm font-weight-bold">25%</span>
                            </div>
                            <div>
                                <div class="progress progress-md">
                                    <div class="progress-bar bg-gradient-dark w-25" role="progressbar"
                                        aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item border-0 d-flex align-items-center px-0 mb-2">
                        <div class="w-100">
                            <div class="d-flex align-items-center mb-2">
                                <a class="btn btn-slack btn-simple mb-0 p-0">
                                    <i class="fab fa-slack fa-lg" aria-hidden="true"></i>
                                </a>
                                <span class="me-2 text-sm font-weight-bold text-capitalize ms-2">Slack</span>
                                <span class="ms-auto text-sm font-weight-bold">15%</span>
                            </div>
                            <div>
                                <div class="progress progress-md">
                                    <div class="progress-bar bg-gradient-dark w-15" role="progressbar"
                                        aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card h-100 mt-4 mt-md-0">
            <div class="card-header pb-0 p-3">
                <div class="d-flex align-items-center">
                    <h6>Orders</h6>
                    <button type="button"
                        class="btn btn-icon-only btn-rounded btn-outline-success mb-0 ms-2 btn-sm d-flex align-items-center justify-content-center ms-auto"
                        data-bs-toggle="tooltip" data-bs-placement="bottom"
                        aria-label="Data is based from sessions and is 100% accurate"
                        data-bs-original-title="Data is based from sessions and is 100% accurate">
                        <i class="fas fa-check" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
            <div class="card-body px-3 pt-0 pb-2">
                <div class="table-responsive p-0">
                    <table class="table align-items-center justify-content-center mb-0">
                        <thead>
                            <tr>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                    Id</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                    Page Views</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                    Avg. Time</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <p class="text-sm font-weight-bold mb-0">1. 22122023000003</p>
                                </td>
                                <td>
                                    <p class="text-sm font-weight-bold mb-0">345</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p class="text-sm font-weight-bold mb-0">1. 22122023000003</p>
                                </td>
                                <td>
                                    <p class="text-sm font-weight-bold mb-0">345</p>
                                </td>

                            </tr>
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>