<div class="row">
    <div class="col-12">
        <div class="card mb-4">
            <div class="card-header pb-0">
                <div class="d-lg-flex">
                    <div class="col-12 col-sm-12 col-md-6">
                        <h5 class="mb-0">Product table</h5>
                    </div>
                    <div class="ms-auto my-auto mt-lg-0 mt-4">
                        <div class="ms-auto my-auto">
                            <a href="add" class="btn bg-gradient-primary btn-sm mb-0">+&nbsp;New Product</a>
                            <button type="button" class="btn btn-outline-primary btn-sm mb-0" data-bs-toggle="modal"
                                data-bs-target="#import">Import</button>
                            <div class="modal fade" id="import" tabindex="-1" style="display: none;" aria-hidden="true">
                                <div class="modal-dialog mt-lg-10">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="ModalLabel">Import CSV</h5>
                                            <i class="fas fa-upload ms-3" aria-hidden="true"></i>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p>You can browse your computer for a file.</p>
                                            <input type="text" placeholder="Browse file..." class="form-control mb-3"
                                                onfocus="focused(this)" onfocusout="defocused(this)">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value=""
                                                    id="importCheck" checked="">
                                                <label class="custom-control-label" for="importCheck">I
                                                    accept the terms and conditions</label>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn bg-gradient-secondary btn-sm"
                                                data-bs-dismiss="modal">Close</button>
                                            <button type="button" class="btn bg-gradient-primary btn-sm">Upload</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-outline-primary btn-sm export mb-0 mt-sm-0 mt-1" data-type="csv"
                                type="button" name="button">Export</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body px-0 pt-0 pb-2">
                <div class="table-responsive p-0">
                    <table id="example2" class="table align-items-center mb-0">
                        <thead>
                            <tr>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder">
                                    Product</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder ps-2">
                                    Category</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder ps-2">
                                    Price</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder ps-2">
                                    Quantity</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder ps-2">
                                    Status</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <img src="../assets/img/iphone15-pro.png">
                                        <h6 class="mb-0 text-sm">iPhone 15</h6>
                                    </div>
                                </td>
                                <td class="text-sm">Smartphone</td>
                                <td class="text-sm">$1,869</td>
                                <td class="text-sm">725</td>
                                <td>
                                    <span class="badge badge-success badge-sm">in Stock</span>
                                </td>
                                <td class="text-center">
                                    <a href="" class="action-btn detail" data-bs-toggle="tooltip"
                                        data-bs-original-title="Preview category">
                                        <i class="fas fa-eye text-primary text-gradient" aria-hidden="true"></i>
                                    </a>
                                    <a href="" class="action-btn edit mx-3" data-bs-toggle="tooltip"
                                        data-bs-original-title="Edit category">
                                        <i class="fas fa-pencil-alt text-dark text-gradient" aria-hidden="true"></i>
                                    </a>
                                    <a href="" class="action-btn delete" data-bs-toggle="tooltip"
                                        data-bs-original-title="Delete category">
                                        <i class="far fa-trash-alt text-danger text-gradient" aria-hidden="true"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <img src="../assets/img/iphone15-pro.png">
                                        <h6 class="mb-0 text-sm">iPhone 15</h6>
                                    </div>
                                </td>
                                <td class="text-sm">Smartphone</td>
                                <td class="text-sm">$1,569</td>
                                <td class="text-sm">625</td>
                                <td>
                                    <span class="badge badge-danger badge-sm">out of Stock</span>
                                </td>
                                <td class="text-center">
                                    <a href="" class="action-btn detail" data-bs-toggle="tooltip"
                                        data-bs-original-title="Preview category">
                                        <i class="fas fa-eye text-primary text-gradient" aria-hidden="true"></i>
                                    </a>
                                    <a href="" class="action-btn edit mx-3" data-bs-toggle="tooltip"
                                        data-bs-original-title="Edit category">
                                        <i class="fas fa-pencil-alt text-dark text-gradient" aria-hidden="true"></i>
                                    </a>
                                    <a href="" class="action-btn delete" data-bs-toggle="tooltip"
                                        data-bs-original-title="Delete category">
                                        <i class="far fa-trash-alt text-danger text-gradient" aria-hidden="true"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>