<div class="row">
    <div class="col-lg-6">
        <h4>About Product</h4>
        <p>Mandatory informations</p>
    </div>
    <div class="col-lg-6 text-right d-flex flex-column justify-content-center">
        {{#if (eq source 'add')}}
        <button class="btn bg-gradient-dark ms-auto mb-0" type="button" onclick="nextCreateProduct()">Next</button>
        <div class="modal fade" id="next-Modal" tabindex="-1" role="dialog" aria-labelledby="modal-default"
            aria-hidden="true">
            <div class="modal-dialog modal- modal-dialog-centered modal-" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h6 class="modal-title" id="modal-title-default"><b>Verify Account Creation</b>
                        </h6>
                        <button type="button" class="btn-close text-dark" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>After you verify this message, the system will create a new product.
                            You can then add or edit the variants of this one.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn bg-gradient-success" data-bs-dismiss="modal"
                            onclick="createProduct()">Confirm</button>
                        <button type="button" class="btn bg-gradient-secondary ml-auto"
                            data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        {{/if}}
    </div>
</div>
<div class="row mt-4">
    <div class="col-12 mt-lg-0 mt-4">
        <div class="card">
            <div class="card-header pb-0 px-3">
                <div class="row">
                    <div class="col-6">
                        <h5 class="font-weight-bolder mb-0">Product Information</h5>
                    </div>
                    {{#if (eq source 'edit')}}
                    <div class="col-6 ms-auto my-auto mt-lg-0 mt-4 text-end">
                        <a class="btn bg-gradient-dark btn-sm mb-0" onclick="updateProduct()">Update Info</a>
                    </div>
                    {{/if}}
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-6">
                        <label for="name">Name</label>
                        <input class="form-control" type="text" id="name"
                            placeholder="eg. iPhone 15, iPhone 15 Plus, iPhone 15 Pro,...">
                    </div>
                    <div class="col-lg-6 mt-lg-0 mt-4">
                        <label for="category">Category</label>
                        <div class="choices" data-type="select-one">
                            <select id="category" class="form-control"></select>
                        </div>
                    </div>
                </div>
                <div id="specs-area" class="row"></div>
            </div>
        </div>
    </div>
</div>

{{#if (eq source 'edit')}}
<div class="row mt-4">
    <div class="col-12 mt-lg-0 mt-4">
        <div class="card">
            <div class="card-header pb-0 px-3">
                <div class="row">
                    <div class="col-6">
                        <h5 class="font-weight-bolder mb-0">Product Variations</h5>
                    </div>
                    <div class="col-6 ms-auto my-auto mt-lg-0 mt-4 text-end">
                        <a href="" class="btn bg-gradient-warning btn-sm mb-0" data-bs-toggle="modal"
                            data-bs-target="#addVarModal">+&nbsp;Variant</a>
                    </div>
                </div>
            </div>
            <div class="card-body pt-4 p-3">
                <ul id="variants-list" class="list-group"></ul>
            </div>
        </div>
    </div>
</div>

<!-- Modal Add Var -->
<div class="modal fade" id="addVarModal" tabindex="-1" role="dialog" style="--bs-modal-width: 850px;">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-bolder">New Product Variant</h5>
                <button type="button" class="btn-close text-dark" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body mt-3 mb-1">
                <div class="row">
                    <div class="col-lg-4 text-center">
                        <h6>Variant Image</h6>
                        <img id="preview" class="w-80" alt="product_image" src="/assets/img/iphone15-pro.png"
                            style="height: 163px;">
                        <input class="form-control" type="file" id="img" accept=".png, .jpg" hidden>
                        <div class="d-flex ms-4 mt-4">
                            <button class="btn bg-gradient-primary btn-sm mb-0 me-2" type="button"
                                onclick="chooseImg()">Edit</button>
                            <button class="btn btn-outline-dark btn-sm mb-0" type="button"
                                onclick="removeImg()">Remove</button>
                        </div>
                    </div>
                    <div class="col-lg-8 mt-lg-0 mt-4">
                        <h6 class="text-center">Variant Information</h6>
                        <div class="row">
                            <div class="col-12 mt-0">
                                <label for="barcode">Barcode (auto or custom)</label>
                                <input class="form-control" type="text" id="barcode" maxlength="20">
                            </div>
                            <div class="col-lg-6 mt-2">
                                <label for="title">Color</label>
                                <input class="form-control" type="text" id="title" placeholder="eg. Black, White,..."
                                    maxlength="15">
                            </div>
                            <div class="col-lg-6 mt-2">
                                <label for="author">Warn</label>
                                <input class="form-control" type="text" id="author" placeholder="eg. 3, 4, 5,..."
                                    maxlength="2">
                            </div>
                            <div class="col-lg-6 mt-2">
                                <label for="price">Cost</label>
                                <div class="d-flex">
                                    <span class="input-group-text"
                                        style="border-top-right-radius: 0; border-bottom-right-radius: 0">VND</span>
                                    <input class="form-control" type="text" id="price" placeholder="eg. 10 ≡ 10000 VND"
                                        style="border-radius: 0; border-right: 0; border-left: 0; z-index: 1; text-align: end">
                                    <span class="input-group-text"
                                        style="border-top-left-radius: 0; border-bottom-left-radius: 0">.000</span>
                                </div>
                            </div>
                            <div class="col-lg-6 mt-2">
                                <label for="price">Price</label>
                                <div class="d-flex">
                                    <span class="input-group-text"
                                        style="border-top-right-radius: 0; border-bottom-right-radius: 0">VND</span>
                                    <input class="form-control" type="text" id="price" placeholder="eg. 10 ≡ 10000 VND"
                                        style="border-radius: 0; border-right: 0; border-left: 0; z-index: 1; text-align: end">
                                    <span class="input-group-text"
                                        style="border-top-left-radius: 0; border-bottom-left-radius: 0">.000</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn bg-gradient-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn bg-gradient-dark" onclick="addVariant()">Next</button>
            </div>
        </div>
    </div>
</div>
{{/if}}